@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(130deg ,#ff4500 , #4070fa );
}
.container{
    position: relative;
    width: 95%;
    height: 120px;
    align-items: center;
    padding: 0 0 0 35px;
}
.container h3{
    color: #fff;
    font-size: 45px;
}
.container span{
    color: gold;
}
.container::before{
   position: absolute;
   content: '';
   width: 7px;
   height: 100%;
   top: 10px;
   left: 0;
   border-radius: 5px;
   background-color: white;
}
.wrapper{
   
    margin-top: 50px;
    width: 95%;
    padding: 30px 20px 40px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.wrapper label{
    font-size: 50px;
    font-weight: 600;
   text-align: center;
}
.wrapper .birthday-input{
   width: 35%;
   height: 50px;
   margin: 20px auto 0 auto ;
   /* padding: 10px; */
   border: 1px solid #ccc;
   border-radius: 7px;
   display: flex;
   overflow: hidden;
}
.birthday-input input{
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    padding: 0 30px 0 30px;
    flex: 1;
}
.birthday-input button{
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;
    
    background-color: #4070fa;
}
.wrapper .result-box{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.result-box .result{
    position: relative;
   width: 500px;
   height: 90px;
   border-radius: 10px;
   color: #fff;
   
   background-color: #4070fa;
}
.result-box .result h3{
    top: 10%;
    left: 50%;
    font-size: 32px;
    font-weight: 600;
    transform: translateX(-50%);
    position: absolute;
}
.result-box .result span{
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
   position: absolute;
}

@media screen and (max-width: 768px) {
    .container{
        position: relative;
       
        width: 95%;
        height: 120px;
        align-items: center;
        padding: 0 0 0 35px;
    }
    .container h3{
        color: #fff;
        font-size: 40px;
    }
    .container span{
        color: gold;
    }
    .wrapper label{
        font-size: 45px;
        font-weight: 600;
       text-align: center;
    }
    .wrapper .birthday-input{
        width: 100%;
        height: 50px;
        margin: 20px auto 0 auto ;
        /* padding: 10px; */
        border: 1px solid #ccc;
        border-radius: 7px;
        display: flex;
        overflow: hidden;
     }
     .wrapper .result-box{
       
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 14px;
    }
    .result-box .result{
        position: relative;
       width: 220px;
       height: 90px;
       border-radius: 10px;
       color: #fff;
       
       background-color: #4070fa;
    }
}
